section.main
    .container.escape-header
        article.post-article
            header
                h2.article-title= title
                span.article-date #{ date + ", " + year }

            section.article-body
                != yield

            footer.article-meta.clearfix
                .article-meta-date
                    span Posted on #{ date + ", " + year }
                .article-meta-author
                    span Written by #{ author }

        footer
            nav.post-nav.clearfix
                - var posts = Object.keys(public.articles._data).reverse()
                - var prevId = id > 0 ? id - 1 : null
                - var nextId = id < posts.length - 1 ? id + 1 : null

                span.prev
                    if typeof prevId === 'number'
                        - var prev = posts[prevId]
                        a(href="/articles/#{ prev }")
                            span.arrow &larr; #{ public.articles._data[prev].title }

                span.next
                    if typeof nextId === 'number'
                        - var next = posts[nextId]
                        a(href="/articles/#{ next }")
                            span.arrow #{ public.articles._data[next].title } &rarr;