section.main
    .container.escape-header
        h2.project-title.serif-tight= title

        article.post
            section.project-body
                != yield

            footer.article-meta.clearfix
                .article-meta-date
                    span Created #{ date }, #{ year }
                if tags
                    .article-tags
                        span #{ tags.join(', ') }

        footer
            nav.post-nav.clearfix
                - var projects = Object.keys(public.projects._data).reverse()
                - var prevId = id > 0 ? id - 1 : null
                - var nextId = id < projects.length - 1 ? id + 1 : null

                span.prev
                    if typeof prevId === 'number'
                        - var prev = projects[prevId]
                        a(href="/projects/#{ prev }")
                            span.arrow &larr; #{ public.projects._data[prev].title }

                span.next
                    if typeof nextId === 'number'
                        - var next = projects[nextId]
                        a(href="/projects/#{ next }")
                            span.arrow &rarr; #{ public.projects._data[next].title }