section.main
    .container.escape-header
        h2.serif Blog
        p.main-copy I blog on infrequent occasion. I am trying to blog more. Here are some of the things I have written.

        a(name="teaching")
        h3.serif Teaching
        em The following articles are written for students taking EECS 111 at Northwestern, but are appropriate for anyone interested in introductory topics in functional programming.
        .ul.post-list
            for article, slug in public.articles._data 
                if article.category === "teaching"
                    li.row
                        .col-inline.one-eighth
                            a(href="/articles/#{ slug }")
                                aside.dates.
                                    #{ article.date }
                                    #{ article.year }
                        .col.seven-eighths
                            a(href="/articles/#{ slug }")
                                h4.serif-tight.post-title #{ article.title }
                                h4.post-headline #{ article.headline }

        hr.divider-part

        h3.serif General
        em Posts about technology and personal thoughts.
        .ul.post-list
            for article, slug in public.articles._data 
                if article.category === "general"
                    li.row
                        .col-inline.one-eighth
                            a(href="/articles/#{ slug }")
                                aside.dates.
                                    #{ article.date }
                                    #{ article.year }
                        .col.seven-eighths
                            a(href="/articles/#{ slug }")
                                h4.serif-tight.post-title #{ article.title }
                                h4.post-headline #{ article.headline }