section.main
    .container.escape-header
        article.post-article
            header
                h2.article-title.serif-tight= title
                - var postDate = date + ", " + year
                span.article-date #{ postDate }
                h3.article-headline= headline

            section.article-body
                //- Yield for the content of markdown file
                //- STATUS: FIX THIS
                != yield

            footer.article-meta.clearfix
                .article-meta-date
                    span Posted on #{ postDate }
                .article-meta-author
                    span Written by #{ author }

        footer
            nav.post-nav.clearfix
                span.prev
                    - var prevId = id - 1 ? id > 0 : null

                    if public.articles._data[prevId]
                        a(href="/articles/#{ public.articles._data[prevId] }").
                            span.arrow &larr;
                            #{ public.articles._data[prevId] }

                span.next
                    - var nextId = id + 1

                    if public.articles._data[nextId]
                        a(href="/articles/#{ public.articles._data[nextId] }").
                            span.arrow &rarr;
                            #{ public.articles._data[nextId] }