header.header.container
  .header__intro
    h1.header__title Slim &ldquo;Sarah&rdquo; Lim 
    p.header__affiliation UC Berkeley Computer Science
    p.header__affiliation Notion Labs
    p.header__pronoun she/her/hers
    p.header__contact slim [at] sarahlim [dot] com

    ul.header__links.list-unstyled.list-inline
      for link in public._data.about.links
        li
          a(href="#{link.url}").no-highlight
            i.fa(class="#{link.icon}" aria-hidden="true" title="#{link.title}")


    nav
      ul.header__nav.list-unstyled.list-inline
        for link in public._data.nav
          li
            a(data-scroll href="#{link.url}") #{link.title}

  .header__photo
    figure.header__photo-wrapper
      img(src="assets/img/headshot.jpg" alt="Smiling woman with shoulder-length black hair, wearing glasses and a striped shirt, her arms folded")
      figcaption.header__quote I’m in a business meeting
