section.resume#projects
  .container
    h2.section-title Projects

    p Escapades in research and development, ranging from serious research projects to one-off diversions.

    dl
      for project in public._data.projects
        dt.resume__item-summary
          h3.resume__title #{project.title}
          p.resume__location #{project.location}
          .resume__tags
            for tag in project.tags
              span(class="resume__tag #{tag}") #{tag}
        dd.resume__item-description
          p !{project.description}
          ul.resume__item-links.list-inline.list-unstyled
            for link, slug in project.links
              li
                if slug == "code"
                  i.fa.fa-code
                else if slug == "paper"
                  i.fa.fa-file-text-o
                else if slug == "poster"
                  i.fa.fa-file-text-o
                else if slug == "slides"
                  i.fa.fa-slideshare
                else if slug == "demo"
                  i.fa.fa-desktop
                else if slug == "video"
                  i.fa.fa-film
                else if slug == "talk"
                  i.fa.fa-video-camera
                else if slug == "link"
                  i.fa.fa-link

                a(href="#{link}" class="resume__link--#{slug}")= slug

