section.teaching#teaching
  .container
    h2.section-title Teaching

    p I was a teaching assistant every quarter beginning my sophomore year, sometimes for two courses at once. Terms marked with an asterisk (*) denote a head or sole teaching assistant role.

    ul
      for course in public._data.teaching
        li.teaching__course
          if course.link
            a(href="#{course.link}")
              h3.teaching__course-title= course.title
          else
              h3.teaching__course-title= course.title

          if course.period
            p.teaching__course-period= course.period

          if course.description
            p.teaching__course-description!= course.description

          if course.links
            ul.list-default
              for link in course.links
                if link.url
                  li
                    a(href="#{link.url}")= link.title
                else
                  li.teaching__course-link--inactive= link.title

