section.main
    .container.escape-header
        h2.serif Projects
        
        section.thumbnails.clearfix
            for project, slug in public.projects._data
                .project
                    - var isExternal = project.hasOwnProperty("url")
                    - var url = isExternal ? project.url : "/projects/" + slug
                    a(href=url)
                        img(class="2x",
                            width="300",
                            height="300",
                            src="#{ project.assets }#{ slug }-thumbnail.jpg")
                        .project-overlay
                            .project-name-wrapper
                                if isExternal
                                    span.project-name #{ project.title + " "}
                                        i.fa.fa-external-link
                                else
                                    span.project-name #{ project.title }